.formContainer{
    z-index: 2;
}
.registerForm {
    z-index: 3;
    color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5em 1em;
    background-color: #ede3d4;
    width: 80%;
    max-width: 400px;
    min-height: 30%;
    gap: .5em;
    border-radius: .5em;
    box-shadow: 3px 3px 7px 0px #00000045;
}

.registerForm h2{
    font-size: 2em;
    text-align: center;
}
.registerForm label {
    font-size: 1.1em;
}
.registerForm input{
    width: 100%;
    font-size: 1.1em;
    padding: .2em .1em;
}


