.formContainer{
    z-index: 2;
}

.loginForm{
    position: relative;
    background-color: #ede3d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5em 1em;
    width: 80%;
    max-width: 400px;
    min-height: 30%;
    gap: .5em;
    z-index: 2;
    color: #212121;
    border-radius: .5em;
    box-shadow: 3px 3px 7px 0px #00000045;
}


.loginForm h2{
    font-size: 2em;
    text-align: center;
}

.loginForm label{
    font-size: 1.1em;
}
.loginForm input{
    width: 100%;
    font-size: 1.1em;
    padding: .2em .2em;
}

.loginForm a{
    text-align: center;
    color: rgb(156, 0, 0);
}

