.addFlavor{
    flex: 1;
}
.addFlavor form{
    max-width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    padding: 1em 0;
    background-color: #cccccc;
}
.addFlavor input[type='submit']{
    padding: .25em .75em;
}

.addFlavor input[type='text'],
.addFlavor input[type='number'],
.addFlavor button{
    padding: .25em .5em;
    width: 80%;
}
.addIngredients{
    display: flex;
    gap: .25em;
}

.flavorsList{
    list-style: none;
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
    max-width: 90%;
    justify-content: center;
}
.flavorsList li{
    background-color: #4CAF50;
    padding: .25em;
    border-radius: .25em;
}
.flavorsList i{
    display: inline;
}
