.Footer {
    text-align: center;
    padding: .5em 0;
    width: 100%;
    background-color: #33333385;
}

.Footer p {
    padding: .5em 0;
}


.Footer,
.Footer p,
.Footer span,
.Footer i {
    color: #fff;
    font-size: .7em;
}

.Footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: .5em;
    font-size: 2em;
}

.Footer ul li {
    transition: .25s;
}

.Footer ul li:hover {
    color: rgb(0, 0, 182);
}