.editarSabor {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.editarSabor form {
    color: black;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    padding: 1em 1em;
    background-color: #cccccc;
    border-radius: .25em;
}
.editarSabor h2 {
    font-size: 2em;
    text-align: center;
}

.editarSabor label {
    font-size: 1.1em;
}

.editarSabor input {
    width: 100%;
    font-size: 1.1em;
    padding: .2em .2em;
}

.editarSabor a {
    text-align: center;
    color: rgb(156, 0, 0);
}

.editarSabor input[type='submit'] {
    padding: .25em .75em;
}

.editarSabor input[type='text'],
.editarSabor input[type='number'],
.editarSabor button {
    padding: .25em .5em;
    width: 90%;
}

.addIngredients {
    display: flex;
    gap: .25em;
}

.flavorsList {
    list-style: none;
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
    max-width: 90%;
    justify-content: center;
}

.flavorsList li {
    background-color: #4CAF50;
    padding: .25em;
    border-radius: .25em;
}

.flavorsList i {
    display: inline;
}
/* tablets */
@media (min-width: 768px) {
    
}