.editContainer{
    flex: 1;
}
.edit{
    max-width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;

}
.itemsToEdit{
    list-style: none;
    width: 100%;
}
.addFlavorButton{
    border: 1px solid #212121;
    background-color: #D32F2F;
    color: #212121;
    font-size: 1.25em;
    padding: .5em .25em;
    text-decoration: none;
    border-radius: .5em;
    transition: .25s;
}
.addFlavorButton:hover{
    background-color: #212121;
    color: #D32F2F;
}

.item{
    display: flex;
    background-color: #999999;
    padding: .2em;
    border-radius: .25em;
    margin-bottom: .5em;
    align-items: center;
    gap: .5em;
    padding: .5em .25em;
    font-size: 1em;
    box-shadow: 1px 2px 3px 0px #c1c1c1;
}
.itemImg{
    display: flex;
    justify-content: center;
    max-width: 30%;
    max-height: 7.5em;
    overflow: hidden;
    border-radius: .5em;
    box-shadow: 3px 2px 6px 2px #696969;
    
}
.itemImg img{
    max-width:100%;
}
.itemText{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: .2em;
}
.itemIngredients{
    display: flex;
    gap: .25em;
    flex-direction: column;
    
}
.itemIngredients ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    gap: .2em;
}
.itemIngredients ul li{
    border-radius: .5em;
    padding: .1em .2em;
    background-color: #D32F2F;
    border: 1px solid #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75em;
    font-weight: 500;
}
.item i{
    font-size: 2em;
    min-width: 10%;
}
.itemButtons{
    display: flex;
    flex-direction: column;
    gap: .25em;
}